<form [formGroup]="formSignup" ngNativeValidate>
  <div class="input-field">
    <label for="name">Nome</label>
    <input type="text" name="name" formControlName="name">
  </div>
  <div class="input-field">
    <label for="email">Email</label>
    <input type="email" name="email" formControlName="email">
  </div>
  <div class="input-field">
    <label for="password">Senha</label>
    <input type="password" name="password" formControlName="password">
  </div>
  <div class="row">
    <button [disabled]="!formSignup.valid" class="btn grey darken-4 center-block" type="submit" (click)="signUp()">Cadastrar</button>
  </div>
</form>
