<div class="container">
  <h4 class="align center">Raid</h4>
  <div class="row">
    <div class="col m4 s12 l4 align center">
      <span>Pokemon: Charizard </span>
    </div>
    <div class="col m4 s12 l4 align center">
      <span>Horário: 17:30</span>
    </div>
    <div class="col m4 s12 l4 align center">
      <span>Criador: Tekenet</span>
    </div>
  </div>
  <ul class="collection">
    <li class="collection-item">1 - Fiat Lux</li>
    <li class="collection-item">2 - Kakavegeta</li>
    <li class="collection-item">3 - Sou eu</li>
    <li class="collection-item">4 - Alvin</li>
  </ul>
  <button class="btn align right">Juntar-se</button>
</div>
