<div>
  <div class="superior red darken-1">
    <div class="logo center-block">
      <img src="../../assets/logo2.png" class="logo center-block z-depth-2 radius-100 white">
    </div>
  </div>





  <div class="center-absolute">
    <div class="row change-form no-gutter">
      <div class="col s10 m6 offset-s1 offset-m3"  style="padding: 0px;">
        <ul materialize="tabs" class="tabs radius-opt indicator">
          <li class="tab col s6">
            <a href="#login" class="black-text">Login</a>
          </li>
          <li class="tab col s6">
            <a href="#signup" class="black-text">Cadastro</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" id=login>
      <app-login-form class="col s10 m6 offset-s1 offset-m3 form-content white z-depth-2">

      </app-login-form>
    </div>

    <div class="row" id="signup">
      <app-signup-form class="col s10 m6 offset-s1 offset-m3 form-content white z-depth-2">

      </app-signup-form>
    </div>
  </div>
</div>
