.div-vertically {
  height: 90px;
  max-width: 600px;
  line-height: 90px;
  margin-top: 5%;
}

.title-login {
  padding: 30px 0px 10px 0px;
}

.subtitle-login {
  margin: 10px 10px 30px 10px;
}

.superior {
  border-bottom: 5px solid black;
  padding: 0px 0px 200px 0px;
}
