<div>
  <div class="superior red darken-1">
    <div class="logo center-block">
      <img src="../../assets/logo2.png" class="logo center-block z-depth-2 radius-100 white">
    </div>
  </div>
  <div class="formulario">
    <div class="row">
      <div class="col s10 m6 offset-s1 offset-m3 radius white z-depth-2">
        <h4 class="align center">Login</h4>
        <form #f="ngForm">
          <div class="input-field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
          </div>
          <div class="input-field">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
          </div>
          <div class="row">
            <div>
              <button [disabled]="!user.email || !user.password"
                class="btn btn-inverse center-block" type="submit" (click)="login()">Entrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
