.center-absolute {
  position: absolute;
  top: 250px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 1000px;
}

.form-content {
  border-radius: 0px 0px 15px 15px;
  padding: 15px 20px 0px 20px;
}

.radius-100{
  border-radius: 100%;
}

.change-form {
  margin-bottom: 0px;
  z-index: 1;
}

.radius-opt {
  border-radius: 15px 15px 0px 0px;
}

