<div>
  <div class="superior red darken-1">
    <div class="logo center-block">
      <img src="../../assets/logo2.png" class="logo center-block z-depth-2 radius-100 white">
    </div>
  </div>

  <ul materialize="tabs" class="tabs">
    <li class="tab col s6"><a href="#login">Login</a></li>
    <li class="tab col s6"><a href="#signup">Cadastro</a></li>
  </ul>

  <div class="formulario" id="login">
    <div class="row">
      <div class="col s10 m6 offset-s1 offset-m3 radius white z-depth-2">
        <app-login-form>

        </app-login-form>
      </div>
    </div>
  </div>

  <div class="formulario" id="signup">
    <div class="row">
      <div class="col s10 m6 offset-s1 offset-m3 radius white z-depth-2">
        <app-signup-form>

        </app-signup-form>
      </div>
    </div>
  </div>
</div>
