<div style="margin-bottom: 70px">
  <router-outlet>
  </router-outlet>
</div>

<div class="footer z-depth-3" *ngIf="logged()">
  <div class="row">
    <div class="col s12">
      <div class="col s3" routerLinkActive="home-active">
        <a routerLink="home">
          <i class="material-icons">home</i>
        </a>
      </div>
      <div class="col s3" routerLinkActive="newraid-active">
        <a routerLink="newraid" >
          <i class="material-icons">add</i>
        </a>
      </div>
      <div class="col s3" routerLinkActive="profile-active">
        <a routerLink="profile">
          <i class="material-icons">face</i>
        </a>
      </div>
      <div class="col s3" (click)="logout()">
        <i class="material-icons">exit_to_app</i>
      </div>
    </div>
  </div>
</div>
