<div class="container">
  <h5 class="align center green-text">{{ profile.name }}</h5>
  <div *ngIf="profile.trainners === undefined || profile.trainners.length == 0">
    <span>Você ainda não cadastrou nenhum treinador</span>
  </div>
  <ul class="collection">
    <li class="collection-item" *ngFor="let trainner of profile.trainners">
      <span>{{ trainner.name }}</span>
      <span class="badge">nível {{ trainner.level }}</span>
    </li>
  </ul>

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger align right" (click)="openModal()">novo</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <form #f="ngForm">
        <input placeholder="nome" type="text" id="name" name="name" [(ngModel)]="trainnerEdit.name" #name="ngModel" required>
        <input placeholder="nível" type="number" id="level" name="level" [(ngModel)]="trainnerEdit.level" #name="ngModel" required>
      </form>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeModal()">fechar</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="adicionar()">salvar</a>
    </div>
  </div>
</div>
