<div class="container-fluid">
  <div class="red darken-1 white-text z-depth-2">
    <span class="title">Perfil</span>
  </div>
  <h4 class="align center">{{ profile.name }}</h4>
  <div class="row">
    <div class="align center" *ngIf="profile.trainners === undefined || profile.trainners.length == 0">
      <span>Você ainda não cadastrou nenhum treinador</span>
    </div>
    <div class="col s12 m12 l8 push-l2">
      <ul class="collection">
        <li class="collection-item row" *ngFor="let trainner of profile.trainners">
          <div class="col s5">
            <span>{{ trainner.name }}</span>
          </div>
          <div class="col s3">
            <span class="grey-text"> nível {{ trainner.level }}</span>
          </div>
          <div class="col s4">
            <a (click)="deleteTrainner(deleteModal, trainner.id)" class="secondary-content button-collection grey-text"><i class="material-icons">delete</i></a>
            <!-- <a class="secondary-content button-collection green-text"><i class="material-icons">edit</i></a> -->
          </div>
        </li>
      </ul>
      <div class="fixed-action-btn" style="bottom: 85px; right: 30px">
        <button class="btn-floating red darken-1" (click)="openModal(modalNewTrainner)"><i class="material-icons">add</i></button>
      </div>
    </div>
  </div>

  <app-new-trainner-modal #modalNewTrainner (onUpdated)='updateListTrainner($event)'>

  </app-new-trainner-modal>

  <app-delete-modal #deleteModal (onUpdated)='updateListTrainner($event)'>

  </app-delete-modal>

</div>
