<div class="container purple-text text-darken-3">
  <h4 class="align center">{{ profile.name }}</h4>
  <div class="row">
    <div class="align center" *ngIf="profile.trainners === undefined || profile.trainners.length == 0">
      <span>Você ainda não cadastrou nenhum treinador</span>
    </div>
    <div class="col s12 m12 l8 push-l2">
      <ul class="collection">
        <li class="collection-item row" *ngFor="let trainner of profile.trainners">
          <div class="col s5">
            <span>{{ trainner.name }}</span>
          </div>
          <div class="col s3">
            <span class="grey-text"> nível {{ trainner.level }}</span>
          </div>
          <div class="col s4">
            <a (click)="openConfirm(trainner.id)" class="secondary-content button-collection red-text"><i class="material-icons">delete</i></a>
            <!-- <a class="secondary-content button-collection green-text"><i class="material-icons">edit</i></a> -->
          </div>
        </li>
      </ul>
    <a class="waves-effect waves-light btn modal-trigger align right" (click)="openModal()">novo</a>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <form #f="ngForm">
        <input placeholder="nome" type="text" id="name" name="name" [(ngModel)]="trainnerEdit.name" #name="ngModel" required>
        <input placeholder="nível" type="number" id="level" name="level" [(ngModel)]="trainnerEdit.level" #name="ngModel" required>
      </form>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeModal()">fechar</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat green-text" (click)="adicionar()">salvar</a>
    </div>
  </div>

  <div id="modalConfirm" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalConfirm">
    <div class="modal-content">
      <span>Tem certeza que deseja excluir?</span>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeConfirm()">cancelar</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat red-text" (click)="remove()">excluir</a>
    </div>
  </div>
</div>
