/* You can add global styles to this file, and also import other style files */
.home-area a{
  color: #0277bd
}

.title {
  font-size: 28px;
  margin-left: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
