<form [formGroup]="formLogin">
  <div class="input-field">
    <label for="email">nome</label>
    <input type="email" name="email" formControlName="email">
  </div>
  <div class="input-field">
    <label for="password">Senha</label>
    <input type="password" name="password" formControlName="password">
  </div>
  <div class="row">
    <div>
      <button [disabled]="!formLogin.valid"
        class="btn grey darken-4 center-block" type="submit" (click)="login()">Entrar</button>
    </div>
  </div>
</form>
